/* Elements */

* {margin:0; padding:0;}
HTML {height:100%;}
BODY {height:100%; background:#fff; color:#000; font:100% "Helvetica Neue",Arial,"Helvetica CY","Nimbus Sans L",sans-serif; min-width:280px;}
TABLE {border-spacing:0; border-collapse:collapse;}
TD,TH {vertical-align:top; text-align:left;}
IMG, FIELDSET {border:none; outline:none;}

A {
  color:#2fc6f7;
  text-decoration:none;
  outline:none; 
}

A:hover {
  text-decoration:underline;
}

P {line-height:1.3em;}

UL, UL LI {list-style-type:none;}

.clear:after {
  content: ' ';
  display: block;
  clear: both;
}

/* Fonts */
@font-face {
  font-family: 'geometria_light';
  src: url('../font/geometria_light.eot');
  src: url('../font/geometria_light.eot?#iefix') format('embedded-opentype'),
  url('../font/geometria_light.otf') format('opentype'),
  url('../font/geometria_light.woff') format('woff'),
  url('../font/geometria_light.ttf') format('truetype'),
  url('../font/geometria_light.svg#geometria_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria_medium';
  src: url('../font/geometria_medium.eot');
  src: url('../font/geometria_medium.eot?#iefix') format('embedded-opentype'),
  url('../font/geometria_medium.otf') format('opentype'),
  url('../font/geometria_medium.woff') format('woff'),
  url('../font/geometria_medium.ttf') format('truetype'),
  url('../font/geometria_medium.svg#geometria_mediummedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometria_regular';
  src: url('../font/geometria.eot');
  src: url('../font/geometria.eot?#iefix') format('embedded-opentype'),
  url('../font/geometria.otf') format('opentype'),
  url('../font/geometria.woff') format('woff'),
  url('../font/geometria.ttf') format('truetype'),
  url('../font/geometria.svg#geometriaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon_bitrix24';
  src:url('../font/icomoon_bitrix24.eot?3nnqsp');
  src:url('../font/icomoon_bitrix24.eot?#iefix3nnqsp') format('embedded-opentype'),
    url('../font/icomoon_bitrix24.woff?3nnqsp') format('woff'),
    url('../font/icomoon_bitrix24.ttf?3nnqsp') format('truetype'),
    url('../font/icomoon_bitrix24.svg?3nnqsp#icomoon_bitrix24') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**/

H2{
  padding-top: 48px;
  margin-bottom: 14px;
  font: 23px/29px 'geometria_light', sans-serif;
  letter-spacing: 0.4px;
}
H2 SMALL{
  font: 12px/21px 'geometria_regular', sans-serif;
}
p{
  font: 14px/21px 'geometria_light', sans-serif;
}
IMG{
  vertical-align: baseline;
}

.bg_c_1 {
  background-color:#2dd2f7; 
}

.bg_c_2 {
  background-color:#f1f5f6;
}

.hide {
  display: none;
} 

.icomoon{
  font-family: 'icomoon_bitrix24';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

SPAN.icomoon{
    display:inline-block;
    vertical-align:middle;
}

/*select*/

.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
    width:100%;
    border-radius: 4px;
    position:relative;
    top:-2px;
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    border: 2px solid #2fc6f7;
}
.bg_c_1 .jq-selectbox {
  border: 2px solid #fff;
}
.jq-selectbox .selected_one{
  color: #fff;
  font-size: 0;
  display: none !important;
}
.jq-selectbox.changed .jq-selectbox__select-text{
  color: #fff;
}
.jq-selectbox__select {
    height: 38px; 
    background: transparent;
    text-align: left;
    padding: 0 10px;
    color: #2fc6f7;
}
.bg_c_1 .jq-selectbox__select {
  color: #fff;
}
.jq-selectbox__select-text {
    display: block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font: 14px 'geometria_medium', sans-serif;
    line-height: 38px;
}
.jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 100%;
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 11px;
    right: 10px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.jq-selectbox__trigger-arrow:before,
.opened .jq-selectbox__trigger-arrow:before{
    font: 16px 'icomoon_bitrix24';
    position: absolute;
    display: inline-block;
    color: #2fc6f7;
}
.jq-selectbox__trigger-arrow:before{
    content: "!";
}
.opened .jq-selectbox__trigger-arrow:before{
    content: "#";
}
.bg_c_1 .jq-selectbox__trigger-arrow:before,
.bg_c_1 .jq-selectbox__trigger-arrow:before{
  color: #fff;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: ;
    -o-transition: ;
    transition: ;
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.jq-selectbox__dropdown {
    top: 38px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
    border: 1px solid #cdd0db;
    background: #FFF;
    font: 14px/18px Arial, sans-serif;
    z-index: 101;
}
.jq-selectbox__dropdown LI:first-child{
  border-top: none;
}
.jq-selectbox__dropdown LI{
  padding: 10px 0;
  font: 14px 'geometria_medium', sans-serif;
  text-align: left;
  border-top: 1px solid #bdd8e6;
  color: #2fc6f7;
}
.jq-selectbox__search{

}

/*Landscape*/

#menu {
  position: fixed;
  right: 0;
  left: 0;
  width:100%;
  min-width: 280px;
  max-width: 736px;
  height:100%;
  overflow:hidden;
  margin: 0 auto;
}

#menu .menu_cover {
  position: absolute;
  z-index: 99;
  width: 66%;
  left: -66%;
  min-height: 100%;
  background-color:#46535a;
  padding:0px 25px;  
  -moz-box-sizing: border-box; 
  box-sizing: border-box;

}

#menu UL LI {
  border-top:1px solid #6b757b;
}

#menu LI A {
  display: block;
  text-transform: uppercase;
  text-decoration: none!important;
  color:#fff;
  padding:20px 0;
}

#menu .lang {
  position: absolute;
  bottom:20px;
  color:#a3a9ad;
}

#menu .lang B {
  position: relative;
  display:block;
  padding:0 30px;
  cursor: pointer;
}

#menu .lang B:before {
  content: '';
  width: 18px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

#menu .lang .ru:before {
  background: url('../img/ico_flag_ru.png') 0 0 no-repeat; 
  background-size: cover;
}

#menu .lang .en:before {
  background: url('../img/ico_flag_ru.png') 0 0 no-repeat; 
  background-size: cover;
}

#menu .lang .de:before {
  background: url('../img/ico_flag_ru.png') 0 0 no-repeat; 
  background-size: cover;
}

#menu .lang B.selected:after {
  content: '';
  width: 15px;
  height: 9px;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: url('../img/arrow_top.png') 0 0 no-repeat; 
  background-size: cover;
}

A.btn{
  text-decoration: none;
}
.btn {
  position: relative;
  display: inline-block;
  text-transform: uppercase; 
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 23px;
  height: 41px;
  line-height: 41px;
  box-sizing: border-box;
  font-family: "Geometria","Helvetica Neue",Arial,"Helvetica CY","Nimbus Sans L",sans-serif; 
  border-radius: 20px;
  -webkit-border-radius: 20px; 
  -moz-border-radius: 20px; 
  transition-duration: 0.3s;
  transition-property: background-image, background-color, color;
}

.btn.blue {
  background: none repeat scroll 0 0 #2fc7f7;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  color: #fff;
  font-size: 13px;
  min-width: 60px; 
}

.btn.green {
  font-size: 13px;
  color: #fff;
  min-width: 153px; 
  background-color: #2fc6f7; 
  -webkit-box-shadow: 0 0 25px rgba(255,255,255,.5); 
  -moz-box-shadow: 0 0 25px rgba(255,255,255,.5); 
  box-shadow: 0 0 25px rgba(255,255,255,.5); 
  background-image: -webkit-linear-gradient(bottom, #93c926, #bfe82f); 
  background-image: -moz-linear-gradient(bottom, #93c926, #bfe82f); 
  background-image: -o-linear-gradient(bottom, #93c926, #bfe82f); 
  background-image: linear-gradient(to top, #93c926, #bfe82f);
}
.btn.green:active {
  -webkit-border-radius: 40px; -moz-border-radius: 40px; border-radius: 40px; background-color: #2fc6f7; -webkit-box-shadow: inset -1px 1px 1px rgba(0,0,0,.15); -moz-box-shadow: inset -1px 1px 1px rgba(0,0,0,.15); box-shadow: inset -1px 1px 1px rgba(0,0,0,.15); background-image: -webkit-linear-gradient(top, #93c900, #bfe819); background-image: -moz-linear-gradient(top, #93c900, #bfe819); background-image: -o-linear-gradient(top, #93c900, #bfe819); background-image: linear-gradient(to bottom, #93c900, #bfe819);   
}

.btn.arrow {
  padding-right: 36px;
}

.btn.blue_border {
  border: 2px solid #2fc7f7;
  color: #2fc7f7;
  font-size: 13px;
  transition-duration: 0.3s;
  transition-property: border-color, color;
}
.btn.blue_border:active {
  border: 2px solid #77e0ff;
  color: #77e0ff;
}

.rainbow {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  border: none;
  width: 100%;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #30c7f6, #d9ff46); 
  background-image: -moz-linear-gradient(left, #30c7f6, #d9ff46); 
  background-image: -o-linear-gradient(left, #30c7f6, #d9ff46); 
  background-image: linear-gradient(left, #30c7f6, #d9ff46);  
}

/* Slider */
.slider_cover H4{
  font: 16px/23px 'geometria_medium', sans-serif;
}
.slick-slider { position: relative; display: block; width:100%; margin: 0 auto; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
#row_1 .slick-slider,
#row_5 .slick-slider,
#row_7 .slick-slider {width: 82%;}
.slick-list {position: relative; overflow: hidden; display: block; margin: 0 auto; padding: 0; }
#row_1 .slick-list,
#row_5 .slick-list,
#row_7 .slick-list {width: 50%; overflow: visible;}
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { width: 100%; height:  auto; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Arrows */
.slick-prev, .slick-next {position: absolute; width: 94px; height: 94px; content: ""; display: block; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 0; margin:0; padding: 0; border: none; outline: none; }
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

.slick-prev { left: -47px; }
.slick-next { right: -47px; }

/* Dots */
.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: 0px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer; }
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "\2022"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }

[dir="rtl"] .slick-next {right: auto;left: -25px;}
[dir="rtl"] .slick-next:before {content: "\2190";}
[dir="rtl"] .slick-prev {right: -25px;left: auto;}
[dir="rtl"] .slick-prev:before {content: "\2192";}
[dir="rtl"] .slick-slide {float: right;}

.slick-dots li{
  width: auto;
  height: auto;
  margin: 0 7px;
}
.slick-dots li button{
  width: 10px;
  height: 10px;
  border-radius: 5px; 
  background-color: #d5f5fd;
}
.slick-dots li.slick-active button{
  background-color: #2ecbf7;
}
.slick-dots li button:before{
  content: '';
  display: none;
}
/**/  

.wrap {
  width:100%;
  min-width: 280px;
  max-width: 736px;
  min-height:100%;
  position:relative;
  overflow:hidden;
  margin: 0 auto;
}

#header {
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 9;
  min-height: 50px;
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  background: #fff; 
  padding: 12px 20px;
}

#header .menu_link {
  position: absolute;
  top: 16px;
  left: 18px;
  display: inline-block;
  width:21px;
  height:19px;
  background: url('../img/ico_menu.png') 0 0 no-repeat; 
  background-size: cover;    
}

#header .logo {
  margin:0 auto;
  width:137px;
  height:26px; 
  line-height: 26px;
}

#header .logo IMG {
  vertical-align: middle;
  width:100%;
  height: auto;
}

#cover {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  min-width: 320px;
}

.content LI {
  position: relative;
}

.star {
  width: 81px;
  height:81px;
  background: url('../img/ico_mark.png') 0 0 no-repeat; 
  background-size: cover;
  position: absolute;
  text-align: center; 
}

.star BIG {
  display: block;
}

.slider .round_nav {
  height:105px;
  margin:45px 0 0 0;
  position: relative; 
  border-top: 2px solid #81e3fa;
}

.slider .round_nav B {
  display:block;
  position: relative;
  margin: 0 auto;
  height: 90px;
  width: 90px;
  top:-45px;
}

.slider .round_nav B:before {
  content: '';
  display:block;
  position: absolute;
  width: 120%;
  height: 100%;
  top:0;
  left:-10%;
}

.slider .round_nav B:after {
  content: '';
  display:block;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: url('../img/round_mask.png') 50% 50% no-repeat;
  background-size: cover; 
  z-index: 3;
}

.screen {
  opacity:0; 
  transition-duration: 0.8s;
  transition-property: opacity;
}

.slick-active .screen {
  opacity:1; 
}
.slider .round_nav SPAN {
  text-align: center;
  display:block;
  position: relative;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;    
  color: #0066a1;
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  background-size: cover;
}

/* #b24_main rows */
#b24_main #row_1 .round_nav B {
  height: 144px;
  width: 94px;
  top:-47px;     
}

#b24_main #row_1 .round_nav B:after {
  display:none;
}

#b24_main #row_1 .round_nav B:before {
  background: #2dd2f7;
}

#b24_main #row_7 .round_nav B:before, 
#b24_main #row_5 .round_nav B:before {
  background: #fff;
}

#b24_main #row_1 .round_nav SPAN {
  padding-top: 100px;    
}
#b24_main #row_1 .screen {
  width:319px;
  height:225px;
  left:50%;
  margin-left:-160px;
  text-align: center; 
  position: relative; 
} 

#b24_main #row_1 .screen .btn {
  position: absolute;
  bottom: 40px; 
  left: 0px; 
  right: 0px; 
  margin: 0px auto;
} 

#b24_main #row_1 .n1 .screen {
  background: url('../img/collage_1.png') 0 100% no-repeat; 
  background-size: 320px;
} 

#b24_main #row_1 .n2 .screen {
  background: url('../img/collage_2.png') 0 100% no-repeat; 
  background-size: 320px;
}
#b24_main #row_5 .round_nav SPAN,
#b24_main #row_7 .round_nav SPAN {
 opacity:0.5;
 transition-duration: 0.8s;
 transition-property: opacity;
}

#b24_main #row_5 .slick-active .round_nav SPAN,
#b24_main #row_7 .slick-active .round_nav SPAN {
 opacity:1;
}


#b24_main #row_2 H2{
  padding-top: 0;
}
#b24_main #row_2 .collage {
  margin:10px auto 0;
  text-align: center; 
  position: relative;     
}
#b24_main #row_2 .slick-slide {
  position: relative;
  padding: 0 0 105px 0;
}
#b24_main #row_2 .slick-slide .btn {
  bottom: 40px;
  left: 0;
  position: absolute;
  right: 0;
  margin: 0 auto;
  max-width: 194px;
}
#b24_main #row_2 .slick-prev,
#b24_main #row_2 .slick-next {
  display: none;  
}

#b24_main #row_3 H2 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
}
#b24_main #row_3 .load_video{
  display: block;
  margin: 0 auto;
}
#b24_main #row_3 .load_video IMG {
  width: 100%;
  height: auto; 
}
#b24_main #row_3 .video_play-pic{
  top: 70%;
}

#b24_main #row_4 .star {
  right: -5px;
  top: 34px;
}
#b24_main #row_4 H2 + P{
  padding-right: 58px;
}
#b24_main #row_4 .btn_block{
  text-align: center;
  margin-top: 24px;
  border-bottom: 2px solid #d0d6d9;
  padding-bottom: 24px;
}

#b24_main #row_5,
#b24_main #row_7{
  text-align: center;
}
#b24_main #row_5 .slick-slide .screen{
  position: relative;
}
#b24_main #row_5 .screen .name{
  text-align: center;
  text-transform: uppercase;
  font: 11px/18px 'geometria_medium', sans-serif;
}
#b24_main #row_5 .screen .company{
  text-align: center;
  color: #6a828c;
  font: 16px/22px 'geometria_light', sans-serif;
}
#b24_main #row_5 .screen .text{
  background: #f2f5f7;
  margin-top: 10px;
  position: relative;
  text-align: left;
  width: 136%;
  margin-left: -18%;
  padding: 13px 15px;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#b24_main #row_5 .screen .text:before{
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #f2f5f7 transparent;
}
#b24_main #row_5 .btn.blue_border.arrow,
#b24_main #row_7 .btn.blue_border.arrow{
  text-align: center;
  margin-bottom: 20px;
}
#b24_main #row_5 .slider .round_nav,
#b24_main #row_7 .slider .round_nav{
  height: 62px;
}

#b24_main #row_7 .screen{
  text-align: center;
  width: 120%;
  margin-left: -10%;
}
#b24_main #row_7 .screen .heading{
  text-align: center;
  font: 14px/21px 'geometria_medium', sans-serif;
  text-transform: uppercase;
}
#b24_main #row_7 .screen .date{
  font: 11px/22px 'geometria_light', sans-serif;
  color: #6a828c;
  text-transform: uppercase;
  position: relative;
  top: 2px;
}
/* /#b24_main rows */

#toggle {
  position: relative;
  width: 82%;
  margin: 0 auto;
  padding: 5px;
  height: 30px;
  background: #0066a1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#toggle DIV {
  position: absolute;
  height: 30px;
  width: 50%;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#toggle DIV B {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

#toggle .cloud,
#toggle .box {
  position: relative;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 50%;
  color:#1cc9f9;
  text-align: center;
  text-transform: uppercase;
}

#drag_cover {
  position: relative;
  top:0;
  left: -100%;
  width:300%;
}

#drag_cover TABLE {
  position: relative;
  top:0;
  left: 33.33333%;
  width:66.66666%;
}

#toggle_cover {
  width: 100%;
  position: absolute;
  background: #2dd2f7;
  padding:10px 0;
  z-index: 99;
}

#b24_price #row_1 {
  padding:0 0 65px 0;
}


#drag_cover .fixed {
  position: absolute;
  background: #fff; 
  width: 100%; 
}

#drag_cover .fixed TR {
  display: block;
  width: 100%; 
  overflow: hidden; 
}

#drag_cover .fixed TH,
#drag_cover .fixed TD {
  display: block;
  float: left; 
}

#drag_cover .centred DIV {
  position: relative;
  left:0;
  text-align: center;
  width: 50%;
}

#footer {
  background: #46535a;
  color:#fff;
  padding: 42px 30px 35px;
  text-align: center;
  position: relative;
}

#footer .nav{
  text-transform: uppercase;
  font: 14px/36px 'geometria_regular', sans-serif;
}
#footer .nav a{
  color: #fff;
  text-decoration: none;
}
#footer .mobile_title{
  color: #839199;
  font-size: 14px;
  line-height: 18px;
  margin-top: 16px;
}

#footer .search_field {
  border: none;
  background: none;
  text-align: center;
  background: #839199;  
  border-radius: 20px;
  color: #46535a;
  height: 40px;
  width: 100%;
  padding: 0 40px 0 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition-duration: 0.3s;
  transition-property: background-color, color;
}
#footer .search{
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 260px;
}
#footer .search INPUT{
  outline: none;
}
#footer .search_btn  {
  border: none;
  cursor: pointer;
  right: 8px;
  position: absolute;
  top: 4px;
  z-index: 1;
  color: #46535a;
  background: transparent;
  font-size: 30px;
}
#footer .mobile_ico{
  max-width: 260px;
  margin: 10px auto 12px;
}
#footer .mobile_ico a{
  display: inline-block;
  width: 38%;
  text-decoration: none;
  color: #fff;
}
#footer .mobile_ico A SPAN{
  display: block;
}
#footer .mobile_ico A .ico{
  border: 1px solid #fff;
  border-radius: 28px;
  width: 54px;
  height: 54px;
  line-height: 50px;
  vertical-align: middle;
  margin: 0 auto;
}
#footer .mobile_ico A .ico IMG{
  vertical-align: middle;
}
#footer .mobile_ico A .sub_title{
  font-size: 14px;
  line-height: 18px;
  margin-top: 4px;
}
#footer FORM{
  margin-top: 32px;
}
#footer H5{
  margin-top: 20px;
}
#footer H5 A{
  color: #fff;
  font: 14px/36px 'geometria_medium', sans-serif;
  text-decoration: none;
}
#footer .copyright{
  margin-top: 16px;
}
#footer .copyright p{
  font-size: 10px;
  line-height: 18px;
  color: #9caab0;
  text-align: center;
}

/* AD landskape */
.limiter{
  padding: 0 20px;
  position: relative;
  display: block;
}
.screenshot,
.load_video{
  display: block;
  margin-top: 25px;
  position: relative;
}
.screenshot IMG{
  width: 100%;
  height: auto;
}
.load_video{
  position: relative;
  width: 100%;
  height: 100%;
}
.load_video .video_play-pic{
  vertical-align: middle;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -54px;
  width: 94px;
  height: 94px;
  line-height: 94px;
  background-color: #2fc6f7;
  border-radius: 61px;
  text-align: center;
  border: 7px solid #2fc6f7;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
  -moz-box-shadow:    inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
  box-shadow:         inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
  -webkit-transition: background-color .25s, border-color .25s;
  -o-transition: background-color .25s, border-color .25s;
  transition: background-color .25s, border-color .25s;
}
.load_video .video_play-pic:active{
  background-color: #77e0ff;
  border: 7px solid #77e0ff;
}
.load_video .video_play-pic SPAN{
  color: #fff;
  font-size: 50px;
  margin-left: 10px;
}

.load_video .video_bg-pic{
  width: 100%;
}

#row_1 h2{
  color: #fff;
  text-align: center;
}
#row_1 p{
  color: #fff;
  font: 14px/21px 'geometria_light', sans-serif;
  text-align: center;
}
#row_1 FORM{
  margin-top: 2px;
  text-align: center;
}
#row_2 FORM{
  margin-top: 36px;
  text-align: center;
}

/* soft_list */

UL.soft_list{
  margin-top: 34px;
}
UL.soft_list LI{
  border-bottom: 2px solid #bcd8e7;
}
UL.soft_list A.limiter{
  padding-top: 20px;
  padding-bottom: 24px;
  text-decoration: none;
}
UL.soft_list LI:first-child{
  border-top: 2px solid #bcd8e7;
}
UL.soft_list LI .img{
  float: left;
}
UL.soft_list .soft_list-cont{
  margin-left: 54px;
  text-transform: uppercase;
  position: relative;
  padding-right: 20px;
}
UL.soft_list .soft_list-cont:after{
  content: '"';
  color: #c3dcea;
  font-family: 'icomoon_bitrix24';
  display: inline-block;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -8px;
}
UL.soft_list .soft_list-cont .title{
  font: 14px/21px 'geometria_medium', sans-serif;
  color: #2fc6f7;
}
UL.soft_list .price{
  display: block;
  font: 11px/21px 'geometria_regular', sans-serif;
  color: #7e939b;
}
/* /soft_list */

/* paging */

  .paging{
    margin: 28px auto 0;
    overflow: hidden;
    text-align: center;
    width: 296px;
  }
  .paging LI{
    display: inline-block;
  }
  .paging LI A{
    font: 14px/50px 'geometria_medium', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    text-decoration: none;
  }
  .paging .first{
    margin-right: 10px;
  }
  .paging .last{
    margin-left: 10px;
  }
  .paging .first A,
  .paging .last A{
    background: #2fc6f7;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 0;
    text-decoration: none;
    line-height: 50px;
    font-family: 'icomoon_bitrix24';
  }
/* /paging */

/* add_nav */

UL.add_nav{
  margin-top: 34px;
  margin-bottom: 37px;
}
UL.add_nav LI:first-child{
  border-top: 1px solid #bdd8e6;
}
UL.add_nav LI{
  border-bottom: 1px solid #bdd8e6;
}
UL.add_nav LI A{
  font: 14px 'geometria_medium', sans-serif;
  color: #7e939c;
  padding: 17px 0;
  display: block;
  text-decoration: none;
}
UL.add_nav LI A:after{
  content: '"';
  font-family: 'icomoon_bitrix24';
  color: #c3dcea;
  position: absolute;
  right: 0;
  top: 18px;
}

/* /add_nav */

/* counter companies */
.counter-wrap{
  padding-top: 34px;
  text-align: center;
}
.counter{
  background: transparent;
  border: 2px solid #7d939b;
  border-radius: 4px;
  padding: 18px 15px;
  position: relative;
  min-width: 280px;
  box-sizing: border-box;
  margin: 0 auto 14px;
}
.counter .number{
  color: #7d939b;
  font: 40px/20px 'geometria_light', sans-serif;
  letter-spacing: -0.1px;
  margin-left: 40px;
}
.counter.companies .number:before{
  content: '';
  background: url('../img/ico_1.png') 0 / cover no-repeat;
  display: inline-block;
  width: 36px;
  height: 24px;
  position: absolute;
  left: 14px;
  top: 18px;
}
.counter-wrap .btn{
  margin-top: 20px;
  margin-bottom: 36px;
}

/* /counter companies */

/* item */

.item_block{
  margin-top: 50px;
  margin-bottom: 20px;
}
.item_block .left{
  float: left;
  margin-top: 6px;
}
.item_block .right{
  margin-left: 54px;
}
.item_block .right.data LI{
  font: 12px/21px 'geometria_regular', sans-serif;
  color: #7e939b;
  text-transform: uppercase;
}
.item_block .right.data STRONG{
  color: #000;
}

/* /item */

/* price */

TABLE.price{
  margin-top: 14px;
  width: 100%;
  border-bottom: 2px solid #d0d6d9;
}
TABLE.price tr:nth-child(odd){
  border-top: 2px solid #d0d6d9;
}
TABLE.price TH,
TABLE.price TD{
  text-align: center;
}
TABLE.price TH P{
  font: 17px/18px 'geometria_medium', sans-serif;
  margin-bottom: 2px;
}
TABLE.price TH{
  padding-top: 22px;
}
TABLE.price TD{
  font: 20px/17px 'geometria_regular', sans-serif; 
  color: #2fc6f7;
  padding: 12px 0 22px;
}
TABLE.price TD SMALL{
  display: block;
  margin: 0 auto;
}
TABLE.price TD[colspan="3"]{
  color: #5b6366;
  font-size: 14px;
  line-height: 19px;
  padding: 20px 20px 6px;
}
TABLE.price TD .ico{
  width: 23px;
  height: 23px;
  line-height: 23px;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
TABLE.price TD .ico.infinity{
  color: #2ecaf7;
  font-size: 30px;
}
TABLE.price TD .ico.active{
  background-color: #2ecaf7;
}
TABLE.price TD .ico.disabled{
  background-color: #b0b8bb;
}
/* /price */

/* unique style */

#b24_features #row_1{
  padding-bottom: 32px;
}

#b24_apps #row_1,
#b24_apps_open #row_1{
  padding-bottom: 32px;
}
#b24_apps #row_1 p{
  margin-top: 14px;
}
#b24_apps_open #row_2 p:first-child{
  margin-top: 0;
}
#b24_apps_open #row_2 p:last-child{
  margin-bottom: 48px;
}
#b24_apps_open #row_2 p{
  margin-top: 20px;
}
#b24_apps_open #row_2 .btn_block{
  text-align: center;
  margin-top: 35px;
}
#b24_apps_open #row_2 .btn{
  width: 100%;
  max-width: 240px;
}
#b24_apps_open #row_2 .btn_block P{
  margin: 10px auto 16px;
}

#b24_main #row_1 H2 {
  padding:48px 0 26px;
}
#b24_main #row_1 {
  color:#fff;
  min-height: 400px;
}
#b24_main #row_1 .slick-dots,
#b24_main #row_5 .slick-dots,
#b24_main #row_7 .slick-dots {
  display: none!important;
}

/* /unique style */

/* star */

.star {
  line-height: 80px;
}
.star_wrap{
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
}
.star BIG{
  font: 26px/16px 'geometria_regular', sans-serif;
}
.star SMALL{
  font: 10px/16px 'geometria_regular', sans-serif;
}

/* /star */


/*Portrait*/
@media (max-width:480px) {

 #row_1 .slick-list, #row_5 .slick-list, #row_7 .slick-list{
   width: 64%;
 }

}  
