@font-face {
	font-family: 'icomoon_bitrix24';
	src:url('fonts/icomoon_bitrix24.eot?hao089');
	src:url('fonts/icomoon_bitrix24.eot?#iefixhao089') format('embedded-opentype'),
		url('fonts/icomoon_bitrix24.woff?hao089') format('woff'),
		url('fonts/icomoon_bitrix24.ttf?hao089') format('truetype'),
		url('fonts/icomoon_bitrix24.svg?hao089#icomoon_bitrix24') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon_bitrix24';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ico_1:before {
	content: "\21";
}
.icon-ico_2:before {
	content: "\22";
}
.icon-ico_3:before {
	content: "\23";
}
.icon-ico_4:before {
	content: "\24";
}
.icon-ico_5:before {
	content: "\25";
}
.icon-ico_6:before {
	content: "\26";
}
.icon-ico_7:before {
	content: "\27";
}
.icon-ico_8:before {
	content: "\28";
}
.icon-ico_9:before {
	content: "\29";
}
.icon-ico_10:before {
	content: "\2a";
}
.icon-ico_11:before {
	content: "\2b";
}
.icon-ico_12:before {
	content: "\2c";
}
.icon-ico_13:before {
	content: "\2d";
}
.icon-ico_14:before {
	content: "\2e";
}
.icon-ico_15:before {
	content: "\2f";
}
.icon-ico_16:before {
	content: "\30";
}
